/****** Script for SelectTopNRows command from SSMS  ******/
/*weightes are calculated using this query*/

SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='2'
AND A.BibliographyID=B.BibliographyID;

SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='3'
AND A.BibliographyID=B.BibliographyID;

SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='4'
AND A.BibliographyID=B.BibliographyID;

SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='5'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='6'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='7'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='8'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='9'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='10'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='11'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='12'
AND A.BibliographyID=B.BibliographyID;
SELECT * FROM [DblpXml].[dbo].[PersonDetails] as A,
[DblpXml].[dbo].[PersonDetails] as B
where A.PersonID='1' AND B.PersonID='13'
AND A.BibliographyID=B.BibliographyID;